@charset "utf-8";
/* NTS JMJ 130517 */

.api_atcmp_wrap{background-color:#fff;color:#666}
.api_atcmp_wrap img{border:0}
.api_atcmp_wrap,.api_atcmp_wrap div,.api_atcmp_wrap dl,.api_atcmp_wrap dt,.api_atcmp_wrap dd,.api_atcmp_wrap ul,.api_atcmp_wrap ol,.api_atcmp_wrap li,.api_atcmp_wrap h1,.api_atcmp_wrap h2,.api_atcmp_wrap h3,.api_atcmp_wrap h4,.api_atcmp_wrap h5,.api_atcmp_wrap form,.api_atcmp_wrap fieldset,.api_atcmp_wrap p,.api_atcmp_wrap button{margin:0;padding:0;font-size:12px;line-height:18px;font-family:'굴림',Gulim,'돋움',Dotum,Helvetica,Sans-serif}
.api_atcmp_wrap li{list-style:none}
.api_atcmp_wrap a{color:#666;text-decoration:none}
.api_atcmp_wrap a:hover{text-decoration:underline}
.api_atcmp_wrap em{font-style:normal}

.api_atcmp_wrap{position:relative;overflow:hidden;border:1px solid #888d95;border-top:none;zoom:1}
.api_atcmp_wrap .words{overflow-y:auto;overflow-x:hidden;width:100%;padding-top:4px}
.api_atcmp_wrap_v1 .words{padding:2px 0 3px}
.api_atcmp_wrap .words em{color:#f86d1a}
.api_atcmp_wrap .words ul{overflow:hidden;padding-bottom:2px}
.api_atcmp_wrap .words .other{padding-top:2px;border-top:1px solid #e1e1e1}
.api_atcmp_wrap .words li{position:relative;height:23px;background-color:#fff;vertical-align:top}
.api_atcmp_wrap .words li a{display:block;width:100%;padding:3px 0 2px;_padding:4px 0 1px;text-indent:10px;text-decoration:none}
.api_atcmp_wrap .words li a:hover{text-decoration:none}
.api_atcmp_wrap .words li strong{color:#eb0c00}
.api_atcmp_wrap .words li a.mquick{display:none}
.api_atcmp_wrap .words li.atcmp_on{background-color:#f5f5f5}
.api_atcmp_wrap .words .atcmp_quick a.mquick{display:block;position:absolute;top:2px;right:10px ;width:auto;padding:2px 4px 1px;border:1px solid #e7e7e7;background-color:#fff;font-family:'돋움',dotum;font-size:11px;color:#7e7e7e;line-height:15px;text-indent:0;letter-spacing:-1px}
.api_atcmp_wrap .words .atcmp_quick a.mquick:hover{border-color:#a4a4a4;color:#616161}
.api_atcmp_wrap .words .tx_sch{margin-left:-1px;background:url(http://sstatic.naver.net/search/images11/bg_atcmp_line3.gif) no-repeat}
.api_atcmp_wrap .words .tx_sch em{padding:1px 5px 0 4px;background:url(http://sstatic.naver.net/search/images11/bg_atcmp_line3.gif) right -11px no-repeat;color:#2f3743;font:11px 돋움;letter-spacing:-1px}

.api_atcmp_wrap .msg{padding:13px 9px 9px 10px;color:#666}
.api_atcmp_wrap .help{position:absolute;z-index:100}

.api_atcmp_wrap .func{overflow:hidden;clear:both;width:100%;padding:7px 0 6px;background:url(http://sstatic.naver.net/search/img3/bg_atcmp_line2.gif) repeat-x;color:#cecece;font:11px/1.3em 돋움,Dotum,Helvetica,sans-serif;letter-spacing:-1px}
.api_atcmp_wrap .func span{float:right;padding-right:10px}
.api_atcmp_wrap .func span em{display:none}
.api_atcmp_wrap .func span em.on{display:inline}
.api_atcmp_wrap .func .fl{float:left;padding-left:10px}
.api_atcmp_wrap .func a{margin:0 3px;color:#666}
.api_atcmp_wrap .func .bar{display:inline-block;margin:0 7px 0 6px}
.api_atcmp_wrap .func .run_view{float:left;padding-left:8px;text-align:left}

/* 정답형 */
.api_atcmp_wrap .srch_bx,.api_atcmp_wrap .srch_bx2{position:relative;height:45px;margin-bottom:-1px;border-bottom:1px solid #e5e5e5;font-family:'돋움',Dotum}
.api_atcmp_wrap_v1 .srch_bx,.api_atcmp_wrap_v1 .srch_bx2{margin:-1px 0 0;border-top:1px solid #e5e5e5;border-bottom:0}
.api_atcmp_wrap .srch_bx a,.api_atcmp_wrap .srch_bx2 a{cursor:pointer}
.api_atcmp_wrap .srch_bx a:hover,.api_atcmp_wrap .srch_bx2 a:hover{text-decoration:none}
.api_atcmp_wrap .srch_bx a.tx_dup{position:absolute;top:14px;right:14px;padding-right:7px;background:url(http://sstatic.naver.net/search/img3/sp_bg.png) 100% -175px no-repeat;font-family:'돋움',Dotum;color:#aaa;letter-spacing:-1px}
.api_atcmp_wrap .srch_bx a.tx_dup:hover{text-decoration:underline}
.api_atcmp_wrap .srch_bx a.tx_weight{display:block;height:25px;padding:9px 0 11px 10px;font-size:14px;font-weight:bold;line-height:25px;color:#000;text-decoration:none}
.api_atcmp_wrap .srch_bx a.tx_weight span{display:inline-block;vertical-align:middle}
.api_atcmp_wrap .srch_bx a.tx_weight span.s_num{font-family:Arial,Helvetica,sans-serif;font-size:18px;color:#f76d1a}
.api_atcmp_wrap .srch_bx a.tx_weight span.results{overflow:hidden;white-space:nowrap;word-break:break-all}
.api_atcmp_wrap .srch_bx a.lotto_bx{display:block;padding:9px 0 11px 11px;vertical-align:middle;cursor:pointer}
.api_atcmp_wrap .srch_bx a.lotto_bx:hover{text-decoration:none}
.api_atcmp_wrap .srch_bx a.lotto_bx span{display:inline-block;width:25px;height:25px;margin-right:-1px;background:url(http://sstatic.naver.net/search/img3/sp_bg.png) 0 0 no-repeat;line-height:23px;font-size:11px;font-family:Tahoma,Geneva,sans-serif;font-weight:bold;color:#fff;text-align:center;vertical-align:middle}
.api_atcmp_wrap .srch_bx a.lotto_bx .n1,.api_atcmp_wrap .srch_bx a.lotto_bx .n2,.api_atcmp_wrap .srch_bx a.lotto_bx .n3,.api_atcmp_wrap .srch_bx a.lotto_bx .n4,.api_atcmp_wrap .srch_bx a.lotto_bx .n5,.api_atcmp_wrap .srch_bx a.lotto_bx .n6,.api_atcmp_wrap .srch_bx a.lotto_bx .n7,.api_atcmp_wrap .srch_bx a.lotto_bx .n8,.api_atcmp_wrap .srch_bx a.lotto_bx .n9,.api_atcmp_wrap .srch_bx a.lotto_bx .n10{background-position:0 0}
.api_atcmp_wrap .srch_bx a.lotto_bx .n11,.api_atcmp_wrap .srch_bx a.lotto_bx .n12,.api_atcmp_wrap .srch_bx a.lotto_bx .n13,.api_atcmp_wrap .srch_bx a.lotto_bx .n14,.api_atcmp_wrap .srch_bx a.lotto_bx .n15,.api_atcmp_wrap .srch_bx a.lotto_bx .n16,.api_atcmp_wrap .srch_bx a.lotto_bx .n17,.api_atcmp_wrap .srch_bx a.lotto_bx .n18,.api_atcmp_wrap .srch_bx a.lotto_bx .n19,.api_atcmp_wrap .srch_bx a.lotto_bx .n20{background-position:0 -29px}
.api_atcmp_wrap .srch_bx a.lotto_bx .n21,.api_atcmp_wrap .srch_bx a.lotto_bx .n22,.api_atcmp_wrap .srch_bx a.lotto_bx .n23,.api_atcmp_wrap .srch_bx a.lotto_bx .n24,.api_atcmp_wrap .srch_bx a.lotto_bx .n25,.api_atcmp_wrap .srch_bx a.lotto_bx .n26,.api_atcmp_wrap .srch_bx a.lotto_bx .n27,.api_atcmp_wrap .srch_bx a.lotto_bx .n28,.api_atcmp_wrap .srch_bx a.lotto_bx .n29,.api_atcmp_wrap .srch_bx a.lotto_bx .n30{background-position:0 -58px}
.api_atcmp_wrap .srch_bx a.lotto_bx .n31,.api_atcmp_wrap .srch_bx a.lotto_bx .n32,.api_atcmp_wrap .srch_bx a.lotto_bx .n33,.api_atcmp_wrap .srch_bx a.lotto_bx .n34,.api_atcmp_wrap .srch_bx a.lotto_bx .n35,.api_atcmp_wrap .srch_bx a.lotto_bx .n36,.api_atcmp_wrap .srch_bx a.lotto_bx .n37,.api_atcmp_wrap .srch_bx a.lotto_bx .n38,.api_atcmp_wrap .srch_bx a.lotto_bx .n39,.api_atcmp_wrap .srch_bx a.lotto_bx .n40{background-position:0 -87px}
.api_atcmp_wrap .srch_bx a.lotto_bx .n41,.api_atcmp_wrap .srch_bx a.lotto_bx .n42,.api_atcmp_wrap .srch_bx a.lotto_bx .n43,.api_atcmp_wrap .srch_bx a.lotto_bx .n44,.api_atcmp_wrap .srch_bx a.lotto_bx .n45{background-position:0 -116px}
.api_atcmp_wrap .srch_bx a.lotto_bx .bonus{overflow:hidden;width:8px;height:8px;background-position:0 -152px;text-indent:-1000px;vertical-align:middle}
.api_atcmp_wrap .srch_bx a.lotto_bx .tx_date{display:inline-block;float:right;width:auto;height:25px;margin:0 10px 0 0;*margin-top:-34px;background:none;line-height:25px;font-weight:normal;font-family:arial,'돋움',Dotum;font-size:12px;color:#8d8d8d;text-decoration:none;vertical-align:middle}
.api_atcmp_wrap .srch_bx a.link_bx{display:block;height:25px;padding:10px 0 10px 10px;line-height:25px;color:#333}
.api_atcmp_wrap .srch_bx a.link_bx span{font-weight:bold;cursor:pointer}
.api_atcmp_wrap .srch_bx a.happy{display:block;padding-left:12px;font-family:'돋움',Dotum;font-size:12px;white-space:nowrap;line-height:45px}
.api_atcmp_wrap .srch_bx a.happy span,.api_atcmp_wrap .srch_bx a.happy em{display:inline-block;vertical-align:middle}
.api_atcmp_wrap .srch_bx a.happy .ico_bean{overflow:hidden;width:17px;height:18px;margin:-1px 6px 0 0;background:url(http://sstatic.naver.net/search/img4/sp_happy.png) no-repeat}
.api_atcmp_wrap .srch_bx a.happy .stit{color:#349e22}
.api_atcmp_wrap .srch_bx a.happy .bar{margin:-2px 9px 0 8px;*margin-top:1px;width:1px;height:11px;background-color:#d9d9d9}
.api_atcmp_wrap .srch_bx a.happy .txt{overflow:hidden;height:auto;max-width:71%;font-weight:bold;color:#444;text-overflow:ellipsis}

/* 배포후삭제 */
.api_atcmp_wrap .srch_bx .tx_link{display:inline-block;margin-right:5px;font-size:12px}
.api_atcmp_wrap .srch_bx .tx_color{display:inline-block;overflow:hidden;width:80%;font-size:12px;color:#32a800;white-space:nowrap;vertical-align:top;text-overflow:ellipsis}
/* //배포후삭제 */
.api_atcmp_wrap .srch_bx .tx_color2{display:inline-block;overflow:hidden;max-width:60%;margin-right:6px;color:#32a800;white-space:nowrap;vertical-align:middle;text-overflow:ellipsis}
.api_atcmp_wrap .srch_bx.atcmp_on .tx_weight,.api_atcmp_wrap .srch_bx.atcmp_on .lotto_bx,.api_atcmp_wrap .srch_bx.atcmp_on .link_bx,.api_atcmp_wrap .srch_bx.atcmp_on .happy{background-color:#f5f5f5}

/* 정답형2 */
.api_atcmp_wrap .srch_bx2.atcmp_on .wtr,.api_atcmp_wrap .srch_bx2.atcmp_on .excng,.api_atcmp_wrap .srch_bx2.atcmp_on .wtime,.api_atcmp_wrap .srch_bx2.atcmp_on .ntel,.api_atcmp_wrap .srch_bx2.atcmp_on .annuity,.api_atcmp_wrap .srch_bx2.atcmp_on .tx_weight{background-color:#f5f5f5}
.api_atcmp_wrap .srch_bx2{height:auto;font-family:'굴림',gulim}
.api_atcmp_wrap .srch_bx2 .wtr,.api_atcmp_wrap .srch_bx2 .excng,.api_atcmp_wrap .srch_bx2 .wtime,.api_atcmp_wrap .srch_bx2 .ntel,.api_atcmp_wrap .srch_bx2 .annuity{display:block;overflow:hidden;padding:10px 11px 5px;zoom:1}
.api_atcmp_wrap .srch_bx2 .wtr .ico{float:left;margin-right:8px}
.api_atcmp_wrap .srch_bx2 .wtr .detl{display:block;float:left;margin-top:3px}
.api_atcmp_wrap .srch_bx2 .wtr .detl .tit{display:block;margin-bottom:4px;color:#000}
.api_atcmp_wrap .srch_bx2 .wtr .detl .dsc strong{margin-right:5px;font-size:14px;color:#000}
.api_atcmp_wrap .srch_bx2 .wtr .detl .dsc em,.api_atcmp_wrap .srch_bx2 .wtr .detl .dsc span{display:inline-block;margin:-2px 0 2px;font-family:Arial,Helvetica;font-weight:bold;font-size:18px;color:#259cef;vertical-align:middle}
.api_atcmp_wrap .srch_bx2 .wtr .detl .dsc span{font-weight:normal;color:#777}
.api_atcmp_wrap .srch_bx2 .wtr .detl .dsc span.bar{width:auto;height:auto;margin:-1px 0 1px 2px;background:none;font-family:'굴림',gulim;font-size:12px;color:#d1d1d1;font-weight:normal}
.api_atcmp_wrap .srch_bx2 .wtr .detl .dsc em span{display:inline-block;overflow:hidden;width:13px;height:12px;margin:-3px 0 3px 3px;*margin:0 0 0 3px;background:url(http://sstatic.naver.net/search/img3/sp_bg2.png) no-repeat 0 -205px;vertical-align:middle;text-indent:-900px}
.api_atcmp_wrap .srch_bx2 .wtr .detl .dsc .tem,.api_atcmp_wrap .srch_bx2 .wtr .detl .dsc .up{color:#f23c3c}
.api_atcmp_wrap .srch_bx2 .wtr .detl .dsc .tem span,.api_atcmp_wrap .srch_bx2 .wtr .detl .dsc .up span{background-position:0 -225px}
.api_atcmp_wrap .srch_bx2 .wtr .detl .dsc .rain{margin:0;font-family:'굴림',gulim;font-size:12px;color:#000}
.api_atcmp_wrap .srch_bx2 .wtr .detl .dsc .rain em{margin-right:2px;font-size:14px}
.api_atcmp_wrap .srch_bx2 .tx_date{position:absolute;top:13px;right:11px;color:#888}
.api_atcmp_wrap .srch_bx2 .excng{padding-bottom:12px}
.api_atcmp_wrap .srch_bx2 .excng .detl{float:left}
.api_atcmp_wrap .srch_bx2 .excng .detl .nation{display:block;padding:3px 0 4px;color:#000}
.api_atcmp_wrap .srch_bx2 .excng .detl .nation img{margin:-1px 0 1px;vertical-align:middle !important}
.api_atcmp_wrap .srch_bx2 .excng .detl .num{font-family:'돋움',dotum;font-size:14px;font-weight:bold;color:#d90400}
.api_atcmp_wrap .srch_bx2 .excng .detl .num strong{display:inline-block;margin:-2px 0 2px;font-family:Arial;font-size:18px;font-weight:bold;vertical-align:middle}
.api_atcmp_wrap .srch_bx2 .excng .detl .num em{display:inline-block;margin:-1px 0 1px 1px;font-family:tahoma;font-size:11px;font-weight:normal;vertical-align:middle}
.api_atcmp_wrap .srch_bx2 .excng .detl .num.down{color:#005dde}
.api_atcmp_wrap .srch_bx2 .excng .detl .num.keep{color:#666}
.api_atcmp_wrap .srch_bx2 .wtime{padding:14px 10px 12px}
.api_atcmp_wrap .srch_bx2 .wtime .stit{display:block;margin-bottom:4px;font-weight:bold;color:#000}
.api_atcmp_wrap .srch_bx2 .wtime .time{font-size:13px;font-weight:bold;color:#f76d1a}
.api_atcmp_wrap .srch_bx2 .ntel{padding:14px 10px 13px}
.api_atcmp_wrap .srch_bx2 .ntel .stit{display:block;margin-bottom:4px;font-weight:bold;color:#000}
.api_atcmp_wrap .srch_bx2 .ntel .num{font-family:Arial;font-size:18px;font-weight:bold;color:#f76d1a}
.api_atcmp_wrap .srch_bx2 .annuity{padding-bottom:6px}
.api_atcmp_wrap .srch_bx2 .annuity .lst_an{display:block;float:left}
.api_atcmp_wrap .srch_bx2 .annuity .bx_an{display:block;overflow:hidden;width:207px;height:24px;padding-top:4px;background:url(http://sstatic.naver.net/search/img3/bg_atcmp_num.png) no-repeat 0 0}
.api_atcmp_wrap .srch_bx2 .annuity .bx_an em{float:left;width:25px;margin-right:1px;font-family:Helvetica;font-size:18px;font-weight:bold;color:#fff077;text-align:center}
.api_atcmp_wrap .srch_bx2 .annuity .bx_an em.first{width:35px;margin-right:13px}
.api_atcmp_wrap .srch_bx2 .annuity .bx_an .dc{display:none}
.api_atcmp_wrap .srch_bx2 .annuity .bx_an em span{display:block;overflow:hidden;width:15px;height:15px;margin:0 auto;background:url(http://sstatic.naver.net/search/img3/bg_atcmp_num.png) no-repeat 0 -40px;text-indent:-900px}
.api_atcmp_wrap .srch_bx2 .annuity .bx_an em.n2 span{background-position:-15px -40px}
.api_atcmp_wrap .srch_bx2 .annuity .bx_an em.n3 span{background-position:-30px -40px}
.api_atcmp_wrap .srch_bx2 .annuity .bx_an em.n4 span{background-position:-45px -40px}
.api_atcmp_wrap .srch_bx2 .annuity .bx_an em.n5 span{background-position:-60px -40px}
.api_atcmp_wrap .srch_bx2 .annuity .bx_an em.n6 span{background-position:-75px -40px}
.api_atcmp_wrap .srch_bx2 .annuity .bx_an em.n7 span{background-position:-90px -40px}
.api_atcmp_wrap .srch_bx2 .annuity .bx_an em.n8 span{background-position:-105px -40px}
.api_atcmp_wrap .srch_bx2 .annuity .bx_an em.n9 span{background-position:-120px -40px}
.api_atcmp_wrap .srch_bx2 .annuity .bx_an em.n0 span{background-position:-135px -40px}
.api_atcmp_wrap .srch_bx2 a.tx_weight{display:block;min-height:25px;_height:25px;padding:9px 0 11px 10px;font-size:14px;font-weight:bold;line-height:25px;color:#000;text-decoration:none}
.api_atcmp_wrap .srch_bx2 a.tx_weight span{display:inline-block;vertical-align:middle}
.api_atcmp_wrap .srch_bx2 a.tx_weight span.s_num{font-family:Arial,Helvetica,sans-serif;font-size:18px;color:#f76d1a}
.api_atcmp_wrap .srch_bx2 a.tx_weight span.results{overflow:hidden;word-break:break-all}
.api_atcmp_wrap .srch_bx2 a.tx_weight .tx_sec{display:inline-block;max-width:270px;_width:270px}
.api_atcmp_wrap .srch_bx2 a.tx_weight .tx_date{position:absolute;top:9px;right:12px;font-family:'굴림',gulim;font-size:12px;font-weight:normal;color:#888}
.api_atcmp_wrap .srch_bx2 a.tx_weight .num{color:#f76d1a}

/* 내검색어 */
.api_atcmp_wrap .help2{position:absolute;display:block;overflow:hidden;bottom:27px;right:2px;width:218px;height:23px;background:url(http://sstatic.naver.net/search/img3/sp_atcmp_txt.png) no-repeat 0 0;line-height:99;text-indent:-900px}
.api_atcmp_wrap .lst_tab{overflow:hidden;zoom:1}
.api_atcmp_wrap .lst_tab ul{margin-left:-1px;height:30px;border-bottom:1px solid #d7d8d9;background:#f7f7f7;zoom:1}
.api_atcmp_wrap .lst_tab ul:after{clear:both;display:block;content:''}
.api_atcmp_wrap .lst_tab ul li{float:left;position:relative;margin-right:-2px;border-right:1px solid #fff}
.api_atcmp_wrap .lst_tab ul li a{display:block;float:left;width:95px;padding:9px 0 7px;border:1px solid #e3e4e5;border-top:0;border-bottom:0;color:#666;line-height:14px;text-align:center;text-decoration:none}
.api_atcmp_wrap .lst_tab ul li a:hover{text-decoration:none}
.api_atcmp_wrap .lst_tab ul li.on{z-index:100}
.api_atcmp_wrap .lst_tab ul li.on a{position:relative;width:97px;margin-bottom:-1px;padding-bottom:8px;border-color:#d7d8d9;background:#fff;font-weight:bold;color:#45474b;cursor:default}
.api_atcmp_wrap .my_words .words{padding-top:5px}
.api_atcmp_wrap .my_words .words li a{float:left;overflow:hidden;max-width:300px;text-indent:2px;white-space:nowrap;text-overflow:ellipsis}
.api_atcmp_wrap .my_words .words li .date{position:absolute;top:3px;right:10px;_right:28px;font-size:11px;color:#bcbcbc;cursor:pointer}
.api_atcmp_wrap .my_words .words li .btn_del{display:none;overflow:hidden;position:absolute;top:1px;right:7px;_right:25px;width:14px;height:13px;padding:3px;background:url(http://sstatic.naver.net/search/img3/sp_atcmp.png) no-repeat -33px -32px;text-indent:-900px}
.api_atcmp_wrap .my_words .words li .ton,.api_atcmp_wrap .my_words .words li .toff{display:block;_display:inline;float:left;overflow:hidden;display:inline-block;width:12px;height:11px;margin:1px 0 -1px 6px;padding:4px;background:url(http://sstatic.naver.net/search/img3/sp_atcmp.png) no-repeat 4px -31px;vertical-align:middle;text-indent:-999px;cursor:pointer}
.api_atcmp_wrap .my_words .words li .ton{background-position:-15px -31px}
.api_atcmp_wrap .my_words .words .u_t_del li .date{display:none}
.api_atcmp_wrap .my_words .words .u_t_del li .btn_del{display:block}
.api_atcmp_wrap .my_words .noti{padding:6px 0 4px 26px;border-top:1px solid #f0f0f0;background:url(http://sstatic.naver.net/search/img3/sp_atcmp.png) no-repeat 10px -52px;font-family:'돋움',dotum;font-size:11px;color:#666;letter-spacing:-1px}
.api_atcmp_wrap .my_words .info_words{padding:17px 9px 11px;color:#666}
.api_atcmp_wrap .my_words .info_words .star{display:inline-block;overflow:hidden;width:12px;height:11px;margin:-2px 1px 2px 0;background:url(http://sstatic.naver.net/search/img3/sp_atcmp.png) no-repeat 0 -35px;vertical-align:middle;text-indent:-900px}
.api_atcmp_wrap .ly_noti .mask{display:block;position:absolute;top:0;left:0;width:100%;height:100%;background-color:#fff;opacity:0;filter:alpha(opacity=0)}
.api_atcmp_wrap .ly_noti p{position:absolute;top:30px;left:0;z-index:200;width:100%;padding:12px 0 10px;border-top:1px solid #777;border-bottom:1px solid #777;line-height:19px;background-color:#fff;text-align:center}
.api_atcmp_wrap .ly_noti p em{color:#f74d45}
.api_atcmp_wrap .ly_noti p .ico{display:inline-block;overflow:hidden;width:14px;height:14px;margin:-1px 4px 1px 0;background:url(http://sstatic.naver.net/search/img3/sp_atcmp.png) no-repeat 0 -90px;vertical-align:middle}
.api_atcmp_wrap .ly_noti a.btn_clse{display:block;overflow:hidden;position:absolute;top:8px;right:8px;width:13px;height:13px;background:url(http://sstatic.naver.net/search/img3/sp_atcmp.png) no-repeat -20px -90px;text-indent:-900px}

/* 선거정보 영역 */
.api_atcmp_wrap .srch_elect{overflow:inherit;margin-bottom:-1px;padding-top:3px;border-bottom:1px solid #dedede}
.api_atcmp_wrap .srch_elect ul{margin-bottom:-4px}
.api_atcmp_wrap .srch_elect .info_elect{position:relative;height:21px;padding-top:7px}
.api_atcmp_wrap .srch_elect .info_elect p,.api_atcmp_wrap .srch_elect .info_elect a{margin-left:10px;font-family:'돋움',dotum;font-size:11px;color:#888}
.api_atcmp_wrap .srch_elect .info_elect p{letter-spacing:-1px}
.api_atcmp_wrap .srch_elect .info_elect p em{color:#888;letter-spacing:0}
.api_atcmp_wrap .srch_elect .info_elect p a{display:inline-block;margin:-2px 0 2px 3px;vertical-align:middle}
.api_atcmp_wrap .srch_elect .info_elect p img{vertical-align:middle}
.api_atcmp_wrap .srch_elect .info_elect .btn{position:absolute;top:7px;right:9px;margin:0;padding-right:8px;background:url(http://sstatic.naver.net/search/img/sprite_bullet.gif) no-repeat 100% -135px;color:#777;letter-spacing:-1px}
.api_atcmp_wrap .srch_elect.closed ul{display:none}
.api_atcmp_wrap .srch_elect.closed .info_elect .btn{background-position:100% -102px}
.api_atcmp_wrap_v1 .srch_elect{border:none;border-top:1px solid #dedede}
.api_atcmp_wrap_v1 .srch_elect ul{margin:-4px 0 2px}
.api_atcmp_wrap_v1 .srch_elect .info_elect{height:24px;padding-top:4px}
.api_atcmp_wrap_v1 .srch_elect .info_elect .btn{top:4px}

/* 하단 자동검색창 */
.api_atcmp_wrap_v1{border-top:1px solid #888d95;border-bottom:0}
.api_atcmp_wrap_v1 .func{background-image:url(http://sstatic.naver.net/search/img3/bg_atcmp_line.gif)}
.api_atcmp_wrap_v1 .help{top:27px;right:2px}
.api_atcmp_wrap_v1 .lst_tab ul{border-top:1px solid #d7d8d9;border-bottom:0}
.api_atcmp_wrap_v1 .my_words .noti{border-top:0;border-bottom:1px solid #f0f0f0}
.api_atcmp_wrap_v1 .ly_noti p{top:auto;bottom:30px}
.api_atcmp_wrap_v1 .lst_tab ul li.on a{margin:-1px 0 0 0;padding:10px 0 7px}
.api_atcmp_wrap_v1 .help2{bottom:auto;top:27px}
 
/* 자연어 자동완성 */
.api_atcmp_wrap .nature .tit{padding:3px 10px 2px 28px;background:url(http://sstatic.naver.net/search/img3/sp_nature2.png) no-repeat 8px 4px;font-size:12px;font-weight:normal;color:#666}
.api_atcmp_wrap .nature .tit .beta{display:inline-block;overflow:hidden;width:17px;height:8px;margin:-1px 0 1px -1px;background:url(http://sstatic.naver.net/search/img3/ico_beta_small.gif) no-repeat 0 0;text-indent:-99px;vertical-align:middle}
.api_atcmp_wrap .nature ul{padding-bottom:4px;border-bottom:1px solid #e5e5e5}
.api_atcmp_wrap .nature li a{padding-left:11px;background:url(http://sstatic.naver.net/search/img3/sp_nature2.png) no-repeat 12px -15px;color:#000}
.api_atcmp_wrap_v1 .nature{border-top:1px solid #e5e5e5}
.api_atcmp_wrap_v1 .nature ul{border:0;padding-bottom:0}
.api_atcmp_wrap_v1 .nature li a{background-position:12px -30px}

/* iPad */
.ipad body{font-size:13px;font-family:Helvetica}
.ipad .api_atcmp_wrap .words li{height:28px}
.ipad .api_atcmp_wrap .words li a{padding-top:5px;padding-bottom:2px}
.ipad .api_atcmp_wrap .nature li a{background-position:12px -14px}
.ipad .api_atcmp_wrap .my_words .words li .ton,.ipad .api_atcmp_wrap .my_words .words li .toff{margin-top:4px}
.ipad .api_atcmp_wrap .words .atcmp_quick a.mquick{top:3px;padding:3px 4px 0;font-family:Helvetica;font-size:13px}
.ipad .api_atcmp_wrap .words .tx_sch em{font:11px Helvetica}
.ipad .api_atcmp_wrap .func{padding:8px 0 5px;background-color:#f5f5f5;font:13px/1.3em Helvetica}
.ipad .api_atcmp_wrap_v1 .func{background-position:0 3px}
.ipad .api_atcmp_wrap .my_words .noti{letter-spacing:0}
.ipad .api_atcmp_wrap .my_words .words li .btn_del{top:2px;padding:5px;background-position:-31px -30px}
.ipad .api_atcmp_wrap .srch_bx{font-family:Helvetica}
.ipad .api_atcmp_wrap .srch_bx a.tx_dup{font-family:Helvetica}
.ipad .api_atcmp_wrap .srch_bx a.lotto_bx .tx_date{margin:2px 10px -2px 0;font-family:Helvetica;font-size:13px}
.ipad .api_atcmp_wrap .srch_bx .tx_link{font-size:14px}
.ipad .api_atcmp_wrap .srch_bx .tx_color{margin:-2px 0 2px;font-size:14px}
.ipad .api_atcmp_wrap .srch_bx a.tx_weight{padding:11px 0 9px 10px}
.ipad .api_atcmp_wrap .srch_bx a.tx_weight span.results{font-size:16px}
.ipad .api_atcmp_wrap .srch_bx a.tx_weight span.s_num{margin:-1px 0 1px}
.ipad .api_atcmp_wrap .srch_bx a.lotto_bx span{font-family:Helvetica;font-size:14px;line-height:25px}
.ipad .api_atcmp_wrap .srch_bx a.link_bx{padding:12px 0 8px 10px}